*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

h1{
    margin-bottom: 1rem;
    font-size: x-large;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}
body{
    background-color: #ecf0f1;
    padding: 20px;
}
.form-container{
display: grid;
background-color: aliceblue;
gap: 20px;
padding: 25px;
text-align: justify;
border-radius: 15px;
margin: auto;
}
.personal-information{
gap: 15px;
}
.external-information-section{
gap: 15px;

}
.account-section{
width: 100%;
border-radius: 8px;
}
.password-section{
gap: 20px;
}
textarea{
    grid-column: span 2;
}
label{
    display: block;
    margin-bottom: 8px;
    color: #6a0dad;
    font-weight: bold;
}
button{
    background-color: #ecf0f1;
    border: none;
    padding: 14px;
    cursor: pointer;
    font-size: 1rem;
}
button:hover{
    background-color: #58108a;
}
@media ( min-width: 768px) {

    
}